.test {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  height: 100%;
  border: 1px solid red;
  margin-top: 150px;
  background-color: antiquewhite;
  width: 50%;
  button {
    color: aliceblue;
  }
}
