.questions {
  padding: 5px;
  background-color: #352f44;
  border-radius: 20px;
  width: 90%;
  background: transparent;
  -webkit-box-shadow: 5px 5px 22px 7px rgba(219, 216, 227, 0.24);
  box-shadow: 5px 5px 22px 7px rgba(219, 216, 227, 0.24);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 70%;
  padding: 20px;
  background: transparent;
  gap: 30px;
  justify-content: center;
  animation: mounth 1s ease-in 0s 1 normal forwards;
  flex: 2;
  
  label {
    background: transparent;
    position: absolute;
    top: 3px;
    left: 15px;
  }
  .question {
    flex: 2;
    border-radius: 20px;
    background-color: #5c5470;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    max-width: 80px;
    &:hover {
      cursor: pointer;
      background-color: #dbd8e3;
    }
    .ansIcon {
      background: transparent;
      justify-self: flex-end;
      align-self: center;
      font-size: 50px;
      margin: 5px;
      pointer-events: none;
    }
    .questionIcon {
      justify-self: flex-end;
      align-self: flex-end;
      font-size: x-large;
      background: transparent;
      margin-right: 5px;
      pointer-events: none;
    }
    .row {
      background: transparent;
      padding: 5px;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      h5 {
        background: transparent;
      }
      h2 {
        background: transparent;
      }
    }
  }
  .activeQuestion {
    @extend .question; 
    background-color: lightgoldenrodyellow;
    max-width: 50px;
  }
}
