.chartpresenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 200px;
  widows: 200px;
  .chartTitle {
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
  }
  .chart {
    border: 3px solid #5c5470;
    height: 500px;

    .pieChart {
      background-color: #5c5470;
      height: 500px;
      border: 2px solid greenyellow;
    }
  }
}
