.dashboard {
  color: #dbd8e3;
  display: flex;
  align-items: center;
  background: transparent;
  .content {
    width: 100%;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 10px;
  }
}
