.getQuiz {
  padding: 30px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  .right {
    background: transparent;
    flex: 11;
    .options {
      background: transparent;
      margin: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
  .left {
    background: transparent;
    flex: 1;
  }
}
