.result {
  margin: 20px;
  width: 50%;
  height: 60%;
  padding: 10px;
  background-color: #5c5470;
  border-radius: 20px;
  .top {
    padding: 20px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;

    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border-radius: 20px;
      min-width: 120px;
      gap: 5px;
      .icon {
        font-size: xx-large;
      }
    }
  }
  .middle {
    margin-top: 20px;
    padding-top: 0;
    padding: 20px;
    border-radius: 20px;
  }
  .bottom {
    padding: 20px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border-radius: 8px;
      justify-self: flex-end;
      align-self: center;
      background-color: #352f44;
      color: #dbd8e3;
      padding: 5px;
      width: 20%;
      cursor: pointer;
      margin: 20px;
    }
    button:hover {
      color: #352f44;
      background-color: #dbd8e3;
    }
    button:disabled {
      cursor: not-allowed;
    }
  }
}
