.headPresenter {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .appName {
    text-align: center;
    background-color: transparent;
    font-family: "Silkscreen", cursive;
    color: #dbd8e3;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
  }
  .options {
    width: 100%;

 
  }
}
