.headPresenter {
  padding: 10px;
  display: flex;
  min-height: 80px;
  flex-direction: column;
  .appName {
    text-align: center;
    background-color: transparent;
    font-family: "Silkscreen", cursive;
    color: #dbd8e3;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
  }
}
