.userCard {
  background-color: #352f44;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1450px;
  .userData {
    border: 2px solid violet;
    border-radius: 20px;
    align-self: stretch;
    margin: 30px;
    padding: 10px;
    min-width: 700px;
  }
  .charts {
    border-radius: 20px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 500px;
    .tabs {
      border-radius: 20px 20px 0px 0px;

      display: flex;
      justify-content: center;
      gap: 10%;

      .theTab {
        border-radius: 0, 20px, 0, 20px;
        padding: 10px;
        &:hover {
          cursor: pointer;
        }
      }
      .selected {
        border-radius: 20px 20px 0px 0px;
        text-decoration: underline;
        padding: 10px;
        background-color: #5c5470;
        align-items: center;
        justify-content: center;
        animation: mounth 0.4s ease-in 0s 1 normal forwards;
      }
    }

    .chart {
      background-color: #5c5470;
      border-radius: 20px 20px 20px 20px;
      padding: 10px;
    }
  }
}
