.wrapper {
  display: flex;
  width: 100%;
  padding: 20px;
  gap: 20px;
  .left {
    flex: 1;
    background: transparent;
  }
  .right {
    background: transparent;
    flex: 8;
    gap: 20px;
    .difficultieSummary {
      background-color: #352f44;
      padding: 20px;
      padding-top: 30px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;  

      gap: 10px;
      animation: mounth 1s ease-in 0s 1 normal forwards;
      -webkit-box-shadow: 2px 2px 22px 2px rgba(205, 202, 214, 0.05);
      box-shadow: 2px 2px 22px 2px rgba(205, 202, 214, 0.05);
    }
    .topicSummary {
      border: 1px solid khaki;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
