.pageSidebar {
  color: #eae7af;
  flex: 1;
  width: 130px;
  position: fixed;
  div {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 5px;
    margin: 3px;
    border: 1px solid red;

    cursor: pointer;
    span {
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 800px) {
  .pageSidebar {
    width: 42px;
    span {
      display: none;
    }
  }
}
.hidden {
  visibility: hidden;
}
