.rateWidget {
  display: flex;
  flex-direction: column;
  background-color: #5c5470;
  padding: 10px;
  border-radius: 20px;
  margin: 15px;
  max-width: 100px;
  -webkit-box-shadow: 5px 5px 22px 7px rgba(53, 47, 68, 0.75);
  box-shadow: 5px 5px 22px 7px rgba(53, 47, 68, 0.75);
  .noDataIcon {
    display: none;
    .noIcon {
      display: none;
    }
  }
  .up {
    flex: 1;
    text-align: center;
    background: transparent;
    font-weight: bold;
  }
  .down {
    flex: 4;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    .left {
      background: transparent;
      text-align: center;
      flex: 4;
      font-size: xx-large;
      font-weight: bold;
    }
    .right {
      flex: 1;
      background: transparent;
      .icon {
        background: transparent;
        font-size: large;
      }
    }
  }
}
.noData {
  display: flex;
  flex-direction: column;
  background-color: #5c5470;
  padding: 10px;
  border-radius: 20px;
  margin: 15px;
  max-width: 100px;
  min-width: 100px;
  -webkit-box-shadow: 5px 5px 22px 7px rgba(53, 47, 68, 0.75);
  box-shadow: 5px 5px 22px 7px rgba(53, 47, 68, 0.75);
  .noDataIcon {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .noIcon {
      font-weight: bolder;
      font-size: 60px;
      background: transparent;
    }
  }
  .up {
    display: none;
  }
  .down {
    display: none;
    .left {
      display: none;
    }
    .right {
      display: none;
    }
  }
}
